<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NovaState - Bienes Raices </title>
    <link
      href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles/styles.css" />
  </head>
  <body>
    <header class="header">
      <nav class="nav container">
        <a href="index.html" class="logo">
          <i class="bx bxs-buildings"></i>
          <h1>Nova<span>State</span></h1>
        </a>
        <div class="nav__links">
          <a href="#inicio" class="link">Inicio</a>
          <a href="#nosotros" class="link">Nosotros</a>
          <a href="#proyectos" class="link">Proyectos</a>
          <a href="#redes" class="link">Redes</a>
        </div>
      </nav>
      <section class="hero" id="inicio">
        <div class="hero__content overlay">
          <h2 class="title nomargin">Construimos tus sueños en realidad</h2>
          <p class="nomargin">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </p>
          <a href="#" class="btn">Leer más</a>
        </div>
      </section>
    </header>
    <main>
      <section class="nosotros container" id="nosotros">
        <h2 class="nosotros__title nomargin">Sobre Nosotros</h2>
        <p class="nosotros__copy">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi officia
          facilis, voluptates corporis reprehenderit cum ad. Dolores, incidunt.
        </p>
        <div class="beneficios">
          <div class="beneficio">
            <div class="overlay overlay--circle">
              <h3>Beneficio</h3>
            </div>
          </div>
          <div class="beneficio">
            <div class="overlay overlay--circle">
              <h3>Beneficio</h3>
            </div>
          </div>
          <div class="beneficio">
            <div class="overlay overlay--circle">
              <h3>Beneficio</h3>
            </div>
          </div>
        </div>
      </section>
      <section class="proyectos" id="proyectos">
        <h2 class="proyectos__title">Nuestros Proyectos</h2>
        <div class="cards container">
          <div class="card">
            <picture>
              <source srcset="./assets/img/casa1.avif" type="image/avif" />
              <source srcset="./assets/img/casa1.webp" type="image/webp" />
              <img
                class="img"
                loading="lazy"
                width="500"
                height="300"
                src="./assets/img/casa1.jpg"
                alt="Imagen-Casa-1"
              />
            </picture>
            <div class="card__text">
              <h3 class="name">Casa 1</h3>
              <div class="linea"></div>
              <p class="parrafo">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi
                velit sapiente rem accusamus ducimus, harum exercitationem magni
                amet quos beatae.
              </p>
              <a href="" class="btn btn-card">Ver Propiedad</a>
            </div>
          </div>
          <div class="card">
            <picture>
              <source srcset="./assets/img/casa2.avif" type="image/avif" />
              <source srcset="./assets/img/casa2.webp" type="image/webp" />
              <img
                class="img"
                loading="lazy"
                width="500"
                height="300"
                src="./assets/img/casa2.jpg"
                alt="Imagen-Casa-2"
              />
            </picture>
            <div class="card__text">
              <h3 class="name">Casa 1</h3>
              <div class="linea"></div>
              <p class="parrafo">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi
                velit sapiente rem accusamus ducimus, harum exercitationem magni
                amet quos beatae.
              </p>
              <a href="#" class="btn btn-card">Ver Propiedad</a>
            </div>
          </div>
          <div class="card">
            <picture>
              <source srcset="./assets/img/casa3.avif" type="image/avif" />
              <source srcset="./assets/img/casa3.webp" type="image/webp" />
              <img
                class="img"
                loading="lazy"
                width="500"
                height="300"
                src="./assets/img/casa3.jpg"
                alt="Imagen-Casa-3"
              />
            </picture>
            <div class="card__text">
              <h3 class="name">Casa 1</h3>
              <div class="linea"></div>
              <p class="parrafo">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi
                velit sapiente rem accusamus ducimus, harum exercitationem magni
                amet quos beatae.
              </p>
              <a href="" class="btn btn-card">Ver Propiedad</a>
            </div>
          </div>
        </div>
      </section>
      <section class="personas container">
        <h2 class="person__title">Personas</h2>
        <div class="person__cards">
          <div class="card card--person">
            <picture>
              <source srcset="assets/img/Sun-Mi.avif" type="image/avif" />
              <source srcset="assets/img/Sun-Mi.webp" type="image/webp" />
              <img
                class="img"
                loading="lazy"
                width="500"
                height="300"
                src="assets/img/Sun-Mi.jpg"
                alt="Imagen-Sunmi"
              />
            </picture>
            <h3 class="name">Sun Mi</h3>
          </div>
          <div class="card card--person">
            <picture>
              <source srcset="assets/img/wendy.avif" type="image/avif" />
              <source srcset="assets/img/wendy.webp" type="image/webp" />
              <img
                class="img"
                loading="lazy"
                width="500"
                height="300"
                src="assets/img/wendy.jpg"
                alt="Imagen-Wendy-Red-Velvet"
              />
            </picture>
            <h3 class="name">Son SeungWan</h3>
          </div>
        </div>
      </section>
    </main>
    <footer class="footer" id="redes">
      <h2 class="footer__title">Siguenos en Redes</h2>
      <nav class="nav nav--social container">
        <div class="nav__links nav__links--social">
          <a href="#" class="social"><i class="bx bxl-facebook"></i></a>
          <a href="#" class="social"><i class="bx bxl-instagram"></i></a>
          <a href="#" class="social"><i class="bx bxl-twitter"></i></a>
        </div>
      </nav>
      <div class="footer__text">
        <p>Todos los derechos reservados Eliel M. 2022 &copy;</p>
      </div>
    </footer>
  </body>
</html>
