<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NovaState - Bienes Raices</title>
    <link
      href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles/styles.css" />
  </head>
  <body>
    <header class="header">
      <div class="header__contenedor">
        <div class="header__barra">
          <a href="index.html" class="logo">
            <i class="logo__icono bx bxs-buildings"></i>
            <h1 class="logo__titulo">
              Nova<span class="logo__titulo--gris">State</span>
            </h1>
          </a>
          <div class="hamburguer">
            <span></span>
            <span></span>
            <span></span>
          </div>
          <nav class="nav">
            <a href="#inicio" class="nav__link">Inicio</a>
            <a href="#nosotros" class="nav__link">Nosotros</a>
            <a href="#proyectos" class="nav__link">Proyectos</a>
            <a href="#contacto" class="nav__link">Contacto</a>
          </nav>
        </div>
      </div>
      <section class="hero" id="inicio">
        <div class="hero__contenido hero__overlay">
          <div class="hero__contenedor">
            <div class="hero__textos">
              <h2 class="hero__titulo">Construimos tus sueños en realidad</h2>
              <p class="hero__parrafo">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </p>
            </div>
            <form id="formHeader" class="form" action="#">
              <legend>
                <h2 class="form__titulo">Agenda una cita</h2>
              </legend>
              <div class="form__campo">
                <input
                  id="name"
                  type="text"
                  name="nombre"
                  placeholder="Ingresa tu nombre"
                  class="form__field"
                />
              </div>
              <div class="form__campo">
                <input
                  id="email"
                  type="email"
                  name="email"
                  placeholder="Ingresa tu email"
                  class="form__field"
                />
              </div>
              <div class="form__campo">
                <input
                  id="tel"
                  type="tel"
                  name="telefono"
                  placeholder="Ingresa tu teléfono"
                  class="form__field"
                />
              </div>
              <div class="form__campo">
                <input
                  id="btnSubmit"
                  type="submit"
                  value="Enviar"
                  class="form__btn"
                  disabled
                />
              </div>

              <div id="spinner" class="form__spinner">
                <span class="loader"></span>
              </div>
            </form>
          </div>
        </div>
      </section>
    </header>
    <main class="main">
      <section class="beneficios">
        <div class="beneficios__contenedor">
          <div class="beneficio">
            <svg
              class="beneficio__icono"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
            >
              <title>medal</title>
              <path
                d="M20,2H4V4L9.81,8.36C6.14,9.57 4.14,13.53 5.35,17.2C6.56,20.87 10.5,22.87 14.19,21.66C17.86,20.45 19.86,16.5 18.65,12.82C17.95,10.71 16.3,9.05 14.19,8.36L20,4V2M14.94,19.5L12,17.78L9.06,19.5L9.84,16.17L7.25,13.93L10.66,13.64L12,10.5L13.34,13.64L16.75,13.93L14.16,16.17L14.94,19.5Z"
              />
            </svg>
            <h3 class="beneficio__titulo">Experiencia</h3>
            <p class="beneficio__descripcion">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Temporibus praesentium cumque ex ipsa beatae cupiditate dolorum
              accusamus quia
            </p>
          </div>
          <div class="beneficio">
            <svg
              class="beneficio__icono"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
            >
              <title>handshake</title>
              <path
                d="M11 6H14L17.29 2.7A1 1 0 0 1 18.71 2.7L21.29 5.29A1 1 0 0 1 21.29 6.7L19 9H11V11A1 1 0 0 1 10 12A1 1 0 0 1 9 11V8A2 2 0 0 1 11 6M5 11V15L2.71 17.29A1 1 0 0 0 2.71 18.7L5.29 21.29A1 1 0 0 0 6.71 21.29L11 17H15A1 1 0 0 0 16 16V15H17A1 1 0 0 0 18 14V13H19A1 1 0 0 0 20 12V11H13V12A2 2 0 0 1 11 14H9A2 2 0 0 1 7 12V9Z"
              />
            </svg>
            <h3 class="beneficio__titulo">Responsabilidad</h3>
            <p class="beneficio__descripcion">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Temporibus praesentium cumque ex ipsa beatae cupiditate dolorum
              accusamus quia
            </p>
          </div>
          <div class="beneficio">
            <svg
              class="beneficio__icono"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
            >
              <title>pencil-ruler</title>
              <path
                d="M3 17.25V21H6.75L17.81 9.93L14.06 6.18L3 17.25M22.61 18.36L18.36 22.61L13.16 17.41L14.93 15.64L15.93 16.64L18.4 14.16L19.82 15.58L18.36 17L19.42 18L20.84 16.6L22.61 18.36M6.61 10.83L1.39 5.64L5.64 1.39L7.4 3.16L4.93 5.64L6 6.7L8.46 4.22L9.88 5.64L8.46 7.05L9.46 8.05L6.61 10.83M20.71 7C21.1 6.61 21.1 6 20.71 5.59L18.37 3.29C18 2.9 17.35 2.9 16.96 3.29L15.12 5.12L18.87 8.87L20.71 7Z"
              />
            </svg>
            <h3 class="beneficio__titulo">Calidad y diseño</h3>
            <p class="beneficio__descripcion">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Temporibus praesentium cumque ex ipsa beatae cupiditate dolorum
              accusamus quia
            </p>
          </div>
        </div>
      </section>
      <section class="nosotros nosotros__contenedor" id="nosotros">
        <h2 class="nosotros__titulo">Sobre Nosotros</h2>
        <div class="nosotros__grid">
          <div class="nosotros__imagen">
            <picture>
              <source srcset="./assets/img/casa.avif" type="image/avif" />
              <source srcset="./assets/img/casa.webp" type="image/webp" />
              <img
                class="nosotros__img"
                loading="lazy"
                width="500"
                height="300"
                src="./assets/img/casa.jpg"
                alt="Img-Nosotros"
              />
            </picture>
          </div>
          <div class="nosotros__textos">
            <div class="nosotros__texto">
              <h3 class="nosotros__subtitulo">Nuestra Visión</h3>
              <p class="nosotros__parrafo">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Tempora tenetur ex maxime itaque id non odit esse sapiente
                laudantium corrupti. Quis non sed totam amet vel molestias
                adipisci eaque accusantium.
              </p>
            </div>
            <div class="nosotros__texto">
              <h3 class="nosotros__subtitulo">Nuestra Misión</h3>
              <p class="nosotros__parrafo">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed ex
                ipsa voluptates ipsam similique tenetur neque officiis
                exercitationem, delectus vel blanditiis consectetur, itaque
                reiciendis nam optio, perferendis quibusdam quisquam possimus.
              </p>
            </div>
          </div>
        </div>
      </section>
      <section class="proyectos" id="proyectos">
        <h2 class="proyectos__titulo">Nuestros Proyectos</h2>
        <div class="cards cards__contenedor">
          <div class="card">
            <picture>
              <img
                class="card__img"
                loading="lazy"
                width="500"
                height="300"
                src="./assets/img/casa.jpg"
                alt="Imagen-Casa-1"
              />
            </picture>
            <div class="card__contenido">
              <h3 class="card__titulo">Casa 1</h3>
              <div class="card__linea"></div>
              <p class="card__parrafo">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi
                velit sapiente rem accusamus ducimus, harum exercitationem magni
                amet quos beatae.
              </p>
              <a
                class="card__btn"
                href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"
                target="_blank"
                >Ver Propiedad</a
              >
            </div>
          </div>
          <div class="card">
            <picture>
              <img
                class="card__img"
                loading="lazy"
                width="500"
                height="300"
                src="./assets/img/casa.jpg"
                alt="Imagen-Casa-1"
              />
            </picture>
            <div class="card__contenido">
              <h3 class="card__titulo">Casa 1</h3>
              <div class="card__linea"></div>
              <p class="card__parrafo">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi
                velit sapiente rem accusamus ducimus, harum exercitationem magni
                amet quos beatae.
              </p>
              <a
                class="card__btn"
                href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"
                target="_blank"
                >Ver Propiedad</a
              >
            </div>
          </div>
          <div class="card">
            <picture>
              <img
                class="card__img"
                loading="lazy"
                width="500"
                height="300"
                src="./assets/img/casa.jpg"
                alt="Imagen-Casa-1"
              />
            </picture>
            <div class="card__contenido">
              <h3 class="card__titulo">Casa 1</h3>
              <div class="card__linea"></div>
              <p class="card__parrafo">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi
                velit sapiente rem accusamus ducimus, harum exercitationem magni
                amet quos beatae.
              </p>
              <a
                class="card__btn"
                href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"
                target="_blank"
                >Ver Propiedad</a
              >
            </div>
          </div>
        </div>
      </section>
      <section class="personas personas__contenedor">
        <h2 class="personas__titulo">Personas</h2>
        <div class="personas__cards">
          <div class="persona">
            <picture>
              <source srcset="./assets/img/wendy.avif" type="image/avif" />
              <source srcset="./assets/img/wendy.webp" type="image/webp" />
              <img
                class="persona__img"
                loading="lazy"
                width="500"
                height="300"
                src="./assets/img/wendy.jpg"
                alt="Imagen-Sunmi"
              />
            </picture>
            <h3 class="persona__titulo">Son Seung-Wan</h3>
          </div>
          <div class="persona">
            <picture>
              <source srcset="./assets/img/sun-Mi.avif" type="image/avif" />
              <source srcset="./assets/img/sun-Mi.webp" type="image/webp" />
              <img
                class="persona__img"
                loading="lazy"
                width="500"
                height="300"
                src="../assets/img/sun-Mi.jpg"
                alt="Imagen-Sunmi"
              />
            </picture>
            <h3 class="persona__titulo">Sun-Mi</h3>
          </div>
          <div class="persona">
            <picture>
              <source srcset="./assets/img/soyeon.avif" type="image/avif" />
              <source srcset="./assets/img/soyeon.webp" type="image/webp" />
              <img
                class="persona__img"
                loading="lazy"
                width="500"
                height="300"
                src="./assets/img/soyeon.jpg"
                alt="Imagen-Sunmi"
              />
            </picture>
            <h3 class="persona__titulo">Jeon So-Yeon</h3>
          </div>
        </div>
      </section>
      <section class="newsletter">
        <div class="newsletter__contenido newsletter__contenedor">
          <div class="newsletter__texto">
            <h2 class="newsletter__titulo">Recibe Actualizaciones</h2>
            <p class="newsletter__parrafo">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum
              necessitatibus quisquam iusto sit fugiat sed eveniet, aliquid
              consequatur exercitationem quia veritatis laborum, quasi molestiae
              rerum obcaecati a laboriosam explicabo sequi.
            </p>
            <form id="formNewsletter" action="" class="form form--newsletter">
              <div class="form__campo">
                <input
                id="emailNews"
                type="email"
                name="email"
                placeholder="Ingresa tu email"
                class="form__field form__field--newsletter"
                />
              </div>
              <input
                id="btnSubscribe"
                type="submit"
                value="Suscribirse"
                class="form__btn--newsletter form__btn"
              />
            </form>
          </div>
        </div>
      </section>
    </main>
    <footer class="footer" id="contacto">
      <div class="footer__contenedor">
        <h2 class="footer__titulo">Contáctanos</h2>
        <div class="footer__barra">
          <a href="index.html" class="logo logo--footer">
            <h1 class="logo__titulo">
              Nova<span class="logo__titulo--gris">State</span>
            </h1>
          </a>
          <nav class="nav nav--footer">
            <a href="#" class="nav__links nav__links--footer"
              ><i class="nav__icono bx bxl-facebook"></i
            ></a>
            <a href="#" class="nav__links nav__links--footer"
              ><i class="nav__icono bx bxl-instagram"></i
            ></a>
            <a href="#" class="nav__links nav__links--footer"
              ><i class="nav__icono bx bxl-twitter"></i
            ></a>
          </nav>
        </div>
      </div>
      <div class="footer__parrafo">
        <p>Todos los derechos reservados Eliel M. 2022 &copy;</p>
      </div>
    </footer>

    <script src="./js/app.js"></script>
  </body>
</html>
