<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NovaState - Bienes Raices</title>
    <link
      href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles/styles.css" />
  </head>
  <body>
    <header class="header">
      <div class="header__barra header__contenedor">
        <a href="index.html" class="logo">
          <i class="logo__icono bx bxs-buildings"></i>
          <h1 class="logo__titulo">
            Nova<span class="logo__titulo--gris">State</span>
          </h1>
        </a>
        <nav class="nav">
          <a href="#inicio" class="nav__link">Inicio</a>
          <a href="#nosotros" class="nav__link">Nosotros</a>
          <a href="#proyectos" class="nav__link">Proyectos</a>
          <a href="#redes" class="nav__link">Redes</a>
        </nav>
      </div>
      <section class="hero" id="inicio">
        <div class="hero__contenido hero__overlay">
          <h2 class="hero__titulo">Construimos tus sueños en realidad</h2>
          <p class="hero__parrafo">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </p>
          <a href="#" class="hero__btn">Ver Proyectos</a>
        </div>
      </section>
    </header>
    <main class="main">
      <section class="nosotros nosotros__contenedor" id="nosotros">
        <h2 class="nosotros__titulo">Sobre Nosotros</h2>
        <div class="nosotros__grid">
          <div class="nosotros__imagen">
            <picture>
              <source srcset="./assets/img/nosotros.avif" type="image/avif" />
              <source srcset="./assets/img/nosotros.webp" type="image/webp" />
              <img
                class="nosotros__img"
                loading="lazy"
                width="500"
                height="300"
                src="./assets/img/nosotros.jpg"
                alt="Img-Nosotros"
              />
            </picture>
          </div>
          <div class="nosotros__textos">
            <div class="nosotros__texto">
              <h3 class="nosotros__subtitulo">Nuestra Visión</h3>
              <p class="nosotros__parrafo">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Tempora tenetur ex maxime itaque id non odit esse sapiente
                laudantium corrupti. Quis non sed totam amet vel molestias
                adipisci eaque accusantium.
              </p>
            </div>
            <div class="nosotros__texto">
              <h3 class="nosotros__subtitulo">Nuestra Misión</h3>
              <p class="nosotros__parrafo">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed ex
                ipsa voluptates ipsam similique tenetur neque officiis
                exercitationem, delectus vel blanditiis consectetur, itaque
                reiciendis nam optio, perferendis quibusdam quisquam possimus.
              </p>
            </div>
          </div>
        </div>
      </section>
      <section class="proyectos" id="proyectos">
        <h2 class="proyectos__titulo">Nuestros Proyectos</h2>
        <div class="cards cards__contenedor">
          <div class="card">
            <picture>
              <img
                class="card__img"
                loading="lazy"
                width="500"
                height="300"
                src="./assets/img/casa.jpg"
                alt="Imagen-Casa-1"
              />
            </picture>
            <div class="card__contenido">
              <h3 class="card__titulo">Casa 1</h3>
              <div class="card__linea"></div>
              <p class="card__parrafo">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi
                velit sapiente rem accusamus ducimus, harum exercitationem magni
                amet quos beatae.
              </p>
              <a
                class="card__btn"
                href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"
                target="_blank"
                >Ver Propiedad</a
              >
            </div>
          </div> 
          <div class="card">
            <picture>
              <img
                class="card__img"
                loading="lazy"
                width="500"
                height="300"
                src="./assets/img/casa.jpg"
                alt="Imagen-Casa-1"
              />
            </picture>
            <div class="card__contenido">
              <h3 class="card__titulo">Casa 1</h3>
              <div class="card__linea"></div>
              <p class="card__parrafo">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi
                velit sapiente rem accusamus ducimus, harum exercitationem magni
                amet quos beatae.
              </p>
              <a
                class="card__btn"
                href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"
                target="_blank"
                >Ver Propiedad</a
              >
            </div>
          </div>
          <div class="card">
            <picture>
              <img
                class="card__img"
                loading="lazy"
                width="500"
                height="300"
                src="./assets/img/casa.jpg"
                alt="Imagen-Casa-1"
              />
            </picture>
            <div class="card__contenido">
              <h3 class="card__titulo">Casa 1</h3>
              <div class="card__linea"></div>
              <p class="card__parrafo">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi
                velit sapiente rem accusamus ducimus, harum exercitationem magni
                amet quos beatae.
              </p>
              <a
                class="card__btn"
                href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"
                target="_blank"
                >Ver Propiedad</a
              >
            </div>
          </div>
        </div>
      </section>
      <section class="personas container">
        <h2 class="person__title">Personas</h2>
        <div class="person__cards">
          <div class="card card--person">
            <picture>
              <source srcset="assets/img/Sun-Mi.avif" type="image/avif" />
              <source srcset="assets/img/Sun-Mi.webp" type="image/webp" />
              <img
                class="img"
                loading="lazy"
                width="500"
                height="300"
                src="assets/img/Sun-Mi.jpg"
                alt="Imagen-Sunmi"
              />
            </picture>
            <h3 class="name">Sun Mi</h3>
          </div>
          <div class="card card--person">
            <picture>
              <source srcset="assets/img/wendy.avif" type="image/avif" />
              <source srcset="assets/img/wendy.webp" type="image/webp" />
              <img
                class="img"
                loading="lazy"
                width="500"
                height="300"
                src="assets/img/wendy.jpg"
                alt="Imagen-Wendy-Red-Velvet"
              />
            </picture>
            <h3 class="name">Son SeungWan</h3>
          </div>
        </div>
      </section>
    </main>
    <footer class="footer" id="redes">
      <h2 class="footer__title">Siguenos en Redes</h2>
      <nav class="nav nav--social container">
        <div class="nav__links nav__links--social">
          <a href="#" class="social"><i class="bx bxl-facebook"></i></a>
          <a href="#" class="social"><i class="bx bxl-instagram"></i></a>
          <a href="#" class="social"><i class="bx bxl-twitter"></i></a>
        </div>
      </nav>
      <div class="footer__text">
        <p>Todos los derechos reservados Eliel M. 2022 &copy;</p>
      </div>
    </footer>
  </body>
</html>
